div.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button:focus {
  outline:0!important;
}

.drivers-sugestion-modal {
  margin-top: 15px;
}

.drivers-list-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  background-color: white;
}

.drivers-list-header {
  text-align: center;
}

.drivers-list {
  align-items: flex-start;
  vertical-align: middle;
}

.active-rides-card-container {
  background-color: #f5f5f5;
  vertical-align: middle;
}

.show-drivers {
  background-color: #0a2239!important;
  color: #e8e9eb!important;
}

.show-drivers:hover {
  background-color: #10365a!important;
}

.delete-button {
  background-color: #f74428!important;
  color: white!important;
}

.delete-button:hover {
  background-color: #f96f59!important;
}

h2 {
  text-align: center;
  flex: 0 0 100%;
  display: block;
  padding: 0;
}
div.table-responsive {
  display: flex;
  justify-content: center;
}
div.container a {
  margin: 2em 0;
  flex: 0 0 100%;
}
table tr:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}
div.container table {
  font-size: 0.9em;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

div.container a {
  flex: 0 0 100%;
  display: flex;
}
div.table-responsive table tr {
  display: block;
  margin-top: 2em;
  border: 1 px solid black;
}
div.table-responsive table tr td {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  border: 1 px solid black;
}
div.table-responsive table thead td {
  text-align: justify;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
div.table-responsive table td button {
  height: 50px;
  margin: 1em 1em;
}
div.rides-card {
  margin: 1em;
    margin-top: 10px;
}

div.passengers-card {
  margin: 1em;
  margin-top: 10px;
  padding: 8px 4px;
}

.rides-badge{
  position: absolute !important;
}

.ride-request-note{
  padding-left: 16px;
  padding-right: 16px;
}