.app {
  color: solid black;
  height: 100%;
}
.ol-viewport {
  margin-bottom: 0 !important;
}
.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  position: fixed;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}
.app-content {
  padding-top: 64px;
}

.header-small-device {
  text-align: center;
}

.top-header {
  display: flex;
  justify-content: flex-end;
  height: 64px;
}

.top-header > div {
  display: flex;
  justify-content: flex-end;
}

.top-header .top-header-text {
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 9%;
}

button:focus {
  outline: 0 !important;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
