.navBar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6%;
  display: flex;
  background-color: white;
  align-items: center;
  z-index: 10;
}

.navBar-button {
  
  color: #e8e9eb;
  flex: 1;
  height: 100%;
  background-color: #0a2239;
  margin: 1px;
  flex-direction: column;
  align-items: center;
}
div.navBar-button {
  color: #e8e9eb;
  align-items: center;
}

a.navBar-button:hover {
  color: #629ad0;
  text-decoration: none;
}

.is-active {
  color: #acc9e4;
  text-decoration: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button:focus {
  outline: 0 !important;
}
