.route-selection-container {
    width: 100%;
    background-color: #f8f9fa !important;
}

.location-selection-element {
    display: flex;
    justify-content: center;
    align-content: center;
}

.invisible {
    visibility: hidden;
}

.algolia-input {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    z-index: 9;
}

.algolia-input-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    z-index: 9;
}

.direction-label-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.direction-label-element {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clickable-element {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.clickable-container {
    height: 100%;
}

.location-input-container {
    margin: 5px;
    border: 1px solid#ccc;
    box-sizing: border-box;
    background-color: white;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.empty {
    color: #aaa;
}

.disabled {
    opacity: 0.4;
}

.location-input {
    border: 0;
    margin-left: 15px;
    width: 100%;
}

.invalid {
    border-color: red;
    color: red !important;
}

.error-icon {
    font-size: 18px !important;
}

.expanding-element {
    height: 50%;
}

.expanding-element-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.fold-container {
    margin: 5px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bbb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hhh {
    background-color: #fff;
    height: 13px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nnn {
    background-color: black !important;
    width: 75%;
    height: 20%;
}