button:focus {
    outline:0!important;
}

.menu-list-header .header-button{
    background-color: transparent;
    color: white;
}

.menu-list-header {
    justify-content: flex-end;
}

.profile {
    height: 100%;
}

@media only screen and (max-width: 713px) {
    .secondary-header {
      
    }
}

